.about {
  // height: 50vh;
  // background-color: var(--color-primary);
  // background-image: linear-gradient(to right, var(--color-primary), var(--color-secondary));
  background-image: linear-gradient(to right, var(--color-bg-green), var(--color-bg-orange));
  display: flex;
  display: grid;
  // grid-template-columns: minmax(min-content, 2fr) minmax(min-content, 3fr);

  justify-content: center;
  align-items: center;
  color: var(--color-text-dark);
  // padding: 0 10rem;
  padding-left: 10rem;
  padding-right: 10rem;

  // LEFT
  &__left {
    // width: 50%;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    // border: 1px solid black;
    @include respond(1200) {
      display: none;
    }
  }

  &__portrait {
    width: 50rem;
    height: 40rem;
    // overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  &__portrait::before {
    content: '';
    position: absolute;
    top: 3rem;
    left: -3rem;
    width: 100%;
    height: 100%;
    // background-color: white;
    border: 0.5rem solid var(--color-text-dark);
    border-radius: var(--border-radius);
    z-index: -1;
  }

  &__img {
    width: 50rem;
    height: 40rem;
    // position: relative;
    border-radius: var(--border-radius);
    border: 1px solid #b9b9b9;
    background-image: url('../../../public/about/about-2.jpg');
    background-size: cover;
  }

  // RIGHT
  &__right {
    // width: 50%;
    padding: 0 5rem;
    grid-column: 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid black;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__highlight {
    border: 1px solid red;
  }
}
