*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px
  // font-family: "Poppins", sans-serif;
  font-family: var(--font);
  color: var(--color-text-light);

  // @include respond(1500) {
  //   font-size: 50%; // 1rem = 8px, 8/16 = 50%
  // }
  // @include respond(600) {
  //   font-size: 37.5%; // 1rem = 6px, 6/16 = 37.5%
  // }
}

.section {
  // border: 1px solid red;
  padding: 8rem 0;
  // margin: 8rem 0;
}

.btn {
  border-style: solid;
  background-color: var(--color-text-dark);
  border: 5px solid var(--color-text-light);
  transition: all 0.2s ease-in;

  &--sm {
    border-radius: var(--border-radius--inner);
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border-width: 2px;
  }

  &--md {
    border-radius: var(--border-radius);
    font-size: 3rem;
    padding: 0.75rem 1.5rem;
    border-width: 3px;
  }

  &--lg {
    border-radius: var(--border-radius);
    font-size: 4rem;
    padding: 1rem 2rem;
    border-width: 4px;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-0.25rem);
    background-color: var(--color-text-light);
    border-color: var(--color-text-dark);
    color: var(--color-text-dark);
  }
  // &--primary:hover {
  //   background-color: var(--color-primary);
  //   border-color: var(--color-primary);
  // }
  // &--secondary:hover {
  //   background-color: var(--color-secondary);
  //   border-color: var(--color-secondary);
  // }
  // &--tertiary:hover {
  //   background-color: var(--color-tertiary);
  //   border-color: var(--color-tertiary);
  // }
  // &--quadratiary:hover {
  //   background-color: var(--color-quadratiary);
  //   border-color: var(--color-quadratiary);
  // }

  &--light {
    color: var(--color-text-light);
  }

  &--dark {
    color: var(--color-text-dark);
  }
}
