.section__title {
  font-size: 6rem;
  align-self: center;
}

.section__subtitle {
  font-size: 3rem;
}

.section__text {
  font-size: 2rem;
}

.section__highlight {
  display: block;

  padding: 2rem 3rem;
  line-height: 4rem;
  margin: 2rem;
  align-self: center;
  font-size: 3rem;
  border-radius: var(--border-radius);
  text-align: center;

  &--light {
    background-color: var(--color-text-dark);
    color: var(--color-text-light);
  }

  &--dark {
    background-color: var(--color-text-light);
    color: var(--color-text-dark);
  }
}
